.main_cont {
    width: 1100px;
    padding: 10px;
    position: fixed; top: 40%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wrap_er{
    width: 100%;
    justify-content: center;
}
#sub_but{
    margin: 10px;
}